{% extends 'base.html' %}
{% block title %}App Home{% endblock %}

{% block content %}

<h2>Hero Section</h2>
<p>Que problema resuelve </p>
<p> CTA claro y visible </p>


{% comment %}
    Seguir plantilla

    Hero
        Qué problema resuelve
        CTA claro

    Qué hace
        2–3 bullets claros

    Para quién es
        Público objetivo

    CTA final
        Link / acción
{% endcomment %}
    
<h2>Que hace</h2>
<p> 2 - 3 bullets claros </p>

<h2>Para quien es</h2>
<p> Publico objetivo </p>

<h2>cta</h2>
<p>Link/accion</p>
{% endblock %}